<div class="container mt-4">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">Listar</button>
            <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Crear</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact"
                type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Editar</button>
        </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <table class="table table-sm">
                <tr>
                    <th>
                        Email
                    </th>
                    <th>
                        Nombres
                    </th>
                    <th>
                        Apellidos
                    </th>
                    <th>
                        Rol
                    </th>
                    <th>
                        Estado
                    </th>
                    <th>
                        Opciones
                    </th>
                </tr>
                <tr>
                    <td>
                        scadavidg@unal.edu.co
                    </td>
                    <td>
                        Santiago
                    </td>
                    <td>
                        Cadavid
                    </td>
                    <td>
                        Lector
                    </td>
                    <td>
                        Activo
                    </td>
                    <td class="opciones">
                        <button class="btn btn-success"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        <button class="btn btn-secondary"><i class="fas fa-lock"></i></button>
                    </td>
                </tr>
                <tr>
                    <td>
                        scadavidg@unal.edu.co
                    </td>
                    <td>
                        Santiago
                    </td>
                    <td>
                        Cadavid
                    </td>
                    <td>
                        Lector
                    </td>
                    <td>
                        Activo
                    </td>
                    <td class="opciones">
                        <button class="btn btn-success"><i class="fas fa-edit"></i></button>
                        <button class="btn btn-danger"><i class="fas fa-trash"></i></button>
                        <button class="btn btn-secondary"><i class="fas fa-lock"></i></button>
                    </td>
                </tr>
            </table>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="card">
                <div class="card-header">
                    Nuevo Usuario
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombres</span>
                            <input type="text" class="form-control" placeholder="nombres" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Apellidos</span>
                            <input type="text" class="form-control" placeholder="apellidos" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" placeholder="Recipient's username"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">@myapp.com</span>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h5>Rol:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault3"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Lector
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault3"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Editor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault3"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Administrador
                                    </label>
                                </div>
                            </div>
                            <div class="col-2">
                                <h5>Estado:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault4"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Activo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault4"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Inactivo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col text-center">
                                <a class="btn btn-primary" href="">Crear</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="card">
                <div class="card-header">
                    Editar Usuario
                </div>
                <div class="card-body">
                    <form>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Nombres</span>
                            <input type="text" class="form-control" value="Santiago" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="basic-addon1">Apellidos</span>
                            <input type="text" class="form-control" value="Cadavid" aria-label="Username"
                                aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" readonly disabled value="scadavidg"
                                aria-label="Recipient's username" aria-describedby="basic-addon2">
                            <span class="input-group-text" id="basic-addon2">@myapp.com</span>
                        </div>
                        <div class="row">
                            <div class="col-2">
                                <h5>Rol:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Lector
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Editor
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault1"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Administrador
                                    </label>
                                </div>
                            </div>
                            <div class="col-2">
                                <h5>Estado:</h5>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault2"
                                        id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        Activo
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault2"
                                        id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        Inactivo
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col text-right">
                                <a class="btn btn-primary" href="">Editar</a>
                            </div>
                            <div class="col text-left">
                                <a class="btn btn-danger" href="">Cancelar</a>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>